
/* -------------------------------- MAIN CSS -------------------------------- */

:root {
    --main-dark: #2A313B;
    --main-light: #F1EFF2;

    --red: #C4DFFA;
    --blue: #C4DFFA;
    --green: #ABD1B5;
    --yellow: #FFE078;

    --accent: #95AA63; /* Green-smoke. */
    --disabled: #4B5A31;
    --alterDisabled: #7E934F;

    --shadow-dark: rgba(42, 49, 59, .8);
    --shadow-light: rgba(241, 239, 242, .8);
}

@font-face {
    font-family: 'Rubik';
    font-weight: 100 900;
    src: url('../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 100 900; font-style: italic;
    src: url('../assets/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
}

/* HTML/BODY/MAIN: ---------------------------------------------------------- */

html, body {
    user-select: none;
    margin: 0; padding: 0;
    background-color: var(--main-dark);
}

body {
    scrollbar-width: none;
    color: var(--main-dark);
    font-family: 'Rubik', sans-serif;

    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(var(--shadow-dark), var(--shadow-dark)), url('../assets/images/start.jpg'); */
}

/* HEADER: ------------------------------------------------------------------ */

#main-header {
    z-index: 100;
    height: 5.2rem;
    color: var(--main-light);
    position: sticky; top: 0;
    background-color: var(--main-dark);
    display: flex;
    padding: 0 2.8rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0rem 2rem var(--shadow-dark);
}

#header-left, #header-center, #header-right {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-left {
    width: 40%;
    justify-content: left;
}

#header-center {
    width: 100%;
    justify-content: center;
}

#header-right {
    width: 40%;
    justify-content: right;
}

    /* HEADER-LEFT: --------------------------------------------------------- */

.sidebar-button {
    padding: 1rem;
    cursor: pointer;
    color: var(--main-light);
    transition: all .3s ease;
}

.sidebar-button:hover {
    transform: scale(1.2);
}

    /* HEADER-CENTER: ------------------------------------------------------- */

.header-nav {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 10rem; height: 100%;
}

.header-nav i {
    padding-right: .6rem;
    transition: all .4s ease;
}

.header-nav small {
    transition: all .4s ease;
}

.header-nav:hover small {
    overflow: hidden;
    opacity: 0; width: 0; margin-left: -.6rem;
}

.header-nav:hover i {
    transform: scale(1.2);
}

.header-logo {
    padding: 0 1.2rem;
    width: 5.2rem; height: 5.2rem;
    filter: drop-shadow(0 0 8px var(--shadow-dark));
}

@media (max-width: 1280px) {
    .header-nav {
        display: none;
    }

    #header-left {
        width: auto;
    }
}

@media (max-width: 1024px) {
    .header-logo {
        display: none;
    }
}

    /* HEADER-RIGHT: -------------------------------------------------------- */

#header-right img {
    cursor: pointer;
    border-width: 2px;
    object-fit: cover;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--accent);
    width: 2.4rem; height: 2.4rem;
}

.header-initials {
    display: flex;
    cursor: pointer;
    font-size: .9rem;
    font-weight: 600;
    margin: 0 2.2rem;
    border-width: 2px;
    border-radius: 50%;
    border-style: solid;
    align-items: center;
    justify-content: center;
    border-color: var(--accent);
    width: 2.4rem; height: 2.4rem;
    background-color: var(--accent);
}

#session-menu {
    z-index: 90;
    display: none;
    padding: .8rem;
    position: fixed;
    top: 0; right: 0;
    margin: 6rem 3rem;
    border-radius: .4rem;
    color: var(--main-light);
    background-color: var(--main-dark);
    filter: drop-shadow(0 0 4px var(--accent));
}

.session-info {
    padding: .8rem;
}

#session-name {
    margin-bottom: .25rem;
}

#session-name, #session-type {
    display: block;
}

.divider-session {
    width: 12rem;
    padding: 0 .8rem;
    margin-top: .8rem;
    margin-bottom: .8rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: var(--accent);
}

.session-menu-button {
    width: 12rem;
    padding: .8rem;
    cursor: pointer;
    border-radius: .2rem;
    transition: all .2s ease-in-out;
}

.session-menu-button:hover {
    background-color: var(--accent);
}

.session-menu-button small {
    padding: 0 .6rem;
    font-weight: 600;
}

.session-button {
    display: flex;
    cursor: pointer;
    min-width: 5.6rem;
    align-items: center;
    border-width: .2rem;
    border-style: solid;
    border-radius: .1rem;
    padding: .75rem 1.4rem;
    justify-content: center;
    transition: all .3s ease;
    border-color: var(--accent);
}

.session-button:hover {
    opacity: .8;
}

.session-button-signin {
    background-color: transparent;
}

.session-button-signup {
    margin-left: 1rem;
    background-color: var(--accent);
}

/* CONTAINER: --------------------------------------------------------------- */

#container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
}

    /* CONTENT: ------------------------------------------------------------- */

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    transition: all .3s ease;
}

#main-content {
    flex: 1;
    padding: 3.8rem;
    background-color: var(--main-light);
    /* background-color: red; */
}

    /* SIDEBAR: --------------------------------------------------------------- */

#main-sidebar {
    z-index: 80;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    color: var(--main-light);
    width: 24rem; height: 100%;
    background-color: var(--main-dark);
    transition: all 0.3s ease;
    left: calc(-24rem - 4rem);
}

@media (max-width: 768px) {
    #main-sidebar.open {
        width: calc(100% - 4rem);
    }
}

#sidebar-username {
    padding-top: 2rem;
    font-size: xx-large;
    color: var(--accent);
}

#sidebar-usertype {
    font-size: larger;
    padding-top: .6rem;
    padding-bottom: 2.4rem;
    color: var(--main-light);
}

.main-sidebar-button {
    display: flex;
    cursor: pointer;
    align-items: center;
    width: 100%; height: 4rem;
    margin: 1rem 0;
    border-width: 1px;
    border-style: solid;
    border-radius: .2rem;
    border-color: var(--accent);
    transition: transform .4s ease, backround-color .6s ease-in;
}

.main-sidebar-button:hover {
    transform: scale(1.04);
}

.main-sidebar-button:before {
    position: absolute;
    width: 0; height: 4rem;
    opacity: 0; content: "";
    background-color: var(--accent);
    transition: width .6s ease-in-out, opacity .8s ease;
}

.main-sidebar-button:hover:before {
    width: 100%; opacity: .6;
}

.main-sidebar-button i {
    padding-left: 1.2rem;
    padding-right: .8rem;
}

    /* FOOTER: -------------------------------------------------------------- */

#main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-light);
    width: 100%;
    height: 4rem;
    background-color: var(--shadow-dark);
}

#main-footer small {
    padding-left: 1rem;
}

/* -------------------------------------------------------------------------- */
