
<!-- GARDENS: CLIENT ------------------------------------------------------- -->

<link rel='stylesheet' href='components/client/gardens/gardens.css' >

<section class='gd-container'>

    <!-- Control izquierdo -->
    <div id='hm-prev-garden'>
        <i class='fa-solid fa-caret-left'></i>
    </div>

    <!-- Carousel -->
    <div id='garden-carousel'></div>

    <!-- Control derecho -->
    <div id='hm-next-garden'>
        <i class='fa-solid fa-caret-right'></i>
    </div>

</section>

<!-- ----------------------------------------------------------------------- -->
