
<!-- HOME: CLIENT ---------------------------------------------------------- -->

<link rel='stylesheet' href='components/client/home/home.css' />

<div id='home-search-api'>
    <input type='text' placeholder='Buscar plantas' id='home-search-input'>

    <button id='home-search-button'>
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</div>

<div id='home-search'>
    <div id='home-search-result'>

        <div id='item-result'>

        </div>


    </div>




    <div id='home-search-details'></div>
</div>

<!-- ----------------------------------------------------------------------- -->
