
<!-- SIGNIN: START --------------------------------------------------------- -->

<link rel='stylesheet' href='components/start/signin/signin.css' />

<!-- ----------------------------------------------------------------------- -->

<section class='sign-container'>

    <div id='sign-content'>

        <!-- Sección de SIGNIN -->
        <div class='sign-form sign-in-form'>
            <div class='sign-form-header'>
                <strong>INICIAR SESIÓN</strong>
                <small>Bienvenido, ingresa tus datos para continuar</small>
            </div>

            <div class='signin-form'>
                <input type='email' placeholder='Correo electrónico' maxlength='64' id='si-email'>
                <input type='password' placeholder='Contraseña' maxlength='64' id='si-password'>

                <button id='si-continue'>
                    CONTINUAR
                </button>
            </div>
        </div>

        <!-- Sección de OVERLAY -->
        <div class='sign-overlay-container'>
            <div class='sign-overlay-panel'>
                <img src='../../../../../smartGardenWEB/smartGarden/assets/adaptive-icon.png' alt='MY SMART-GARDEN'>

                <small>¿No tienes una cuenta?</small>
                <button id='si-new-account'>REGÍSTRATE</button>
            </div>
        </div>

    </div>

</section>

<!-- ----------------------------------------------------------------------- -->
